body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

.atomo {
    position: relative;
    width: 120px;
    height: 120px;
}

.nucleo {
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    margin-left: -35px; /* mitad del ancho del núcleo */
    margin-top: -15px;  /* mitad del alto del núcleo */
    background-color: yellow;
    position: absolute;
    border-radius: 100%;
}

.orbita {
    top: 50%;
    left: 50%;
    width: 100%;
    position: absolute;
    transform-origin: center;
}

.electron {
    top: 50%;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.orbita1 .electron {
    animation: spin1 2s linear infinite;
}
.orbita2 .electron {
    animation: spin2 4s linear infinite;
}
.orbita3 .electron {
    animation: spin3 5s linear infinite;
}

/* Animación de la primera órbita */
@keyframes spin1 {
    from {
        transform: translate(-50%, -50%) rotate(0deg) translateX(55px) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg) translateX(55px) rotate(-360deg);
    }
}

/* Animación de la segunda órbita */
@keyframes spin2 {
    from {
        transform: translate(-50%, -50%) rotate(0deg) translateX(95px) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg) translateX(95px) rotate(-360deg);
    }
}

/* Animación de la tercera órbita */
@keyframes spin3 {
    from {
        transform: translate(-50%, -50%) rotate(0deg) translateX(120px) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg) translateX(120px) rotate(-360deg);
    }
}
